html,
body {
  /* margin: 0; */
  /* padding:0 ; */
  scroll-behavior:smooth;
  user-select: none;
  height: 100%;
  font-size: 100%;
}

body {
  height: 100vh;
  min-height: 1500px;
  background-image: url(./media/backgif.gif);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
  
}

#main {
  height: auto;
  min-height: 1500px;
  background: #17181c;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom: 0;
  width:100%;
  position: relative;
  
}

a {
  text-decoration: none;

  color: white;
}
#header {
  margin: 2rem;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1rem;
}
#contact {
  font-size: 0.85rem;
  float: right;
}
#contact a {
  text-decoration: underline transparent;
}
#contact a:hover {
  text-decoration-color: white;
  transition: ease-in 0.3s;
}
.line {
  margin-top: 2rem;
  width: 100%;
  height: 2px;
  background-color: rgb(173, 173, 173);
}

footer {
  margin-top: 1rem;
  background-color: #17181c;
  display: flex;
}

.fhalf {
  width: 40%;
}

#fgifs {
  border-right-style: solid;
  border-right-color: rgb(63, 63, 63);
  border-right-width: 0.05rem;
}

#fgif {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
}
#half {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#info {
  display: flex;
  height: 100%;
  width: max-content;
  font-size: 100%;
  margin-top: 15%;
  position: relative;
  /* background-color:white ; */
}

#backtotop {
  text-transform: uppercase;
  border-top-style: solid;
  border-top-color: rgb(63, 63, 63);
  border-top-width: 0.05rem;

  text-align: center;
  background-color: #121316;
  display: block;
  margin-top: 0;

  margin-bottom: 0.1rem;
  transition: linear 0.11s;
}

#backtotop:hover {
  background-color: rgb(0, 0, 0);
}

/* introduction */

#intro {
  /* background-color: black; */
  height: auto;
  width: 75%;
  /* position: absolute; */
  margin-left: 15%;
  font-family: "Poppins", sans-serif;
  margin-top: 3.5%;
  /* background-color: black; */
}

#test {
  background-color: whitesmoke;
  color: #121316;
  height: 100%;
  min-height: 100%;
  float: left;
  margin-left: 2%;
  width: 2%;
  min-width: 23px;
  writing-mode: vertical-lr;
  font-size: large;
  text-transform: uppercase;
  left: 1%;
  position: absolute;
  bottom: 0;


}

#test2 {
  position: absolute;
  bottom: 2%;
  left: 0;
  background-color: whitesmoke;
  color: #121316;
  
  width: 100%;
  min-height: 20px;
  height: 23px;
  font-size: large;
  text-transform: uppercase;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-track {
  /* background: rgba(24, 24, 24, 0.815); */
  background: rgb(24, 24, 24);
}
::-webkit-scrollbar-thumb {
  background: rgb(136, 136, 136);

  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(97, 97, 97);
}


.list{
  display: flex;
  align-items: center;
}
li{
  padding: 0.7%;
}