html,body {
  /* margin: 0; */
  /* padding:0 ; */
  scroll-behavior: smooth;
  user-select: none;
  height: 100%;
}

body {
  
  height: 100vh;
  min-height: 1500px;
  background-image: url(./media/backgif.gif);
  background-repeat: repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  font-family: "Source Sans Pro", sans-serif;
}

#main {
  height: auto;
  min-height: 1500px;
  background: #17181c;
  margin-top: 1rem;
  padding-top: 1rem;
  padding-bottom:0 ;
}

a {
  text-decoration: none;

  color: white;
}
#header {
  margin: 2rem;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 1rem;
}
#contact{
    font-size: 0.85rem;
    float:right;
    
}
#contact a{
  text-decoration: underline transparent;
  
}
#contact a:hover{
  text-decoration-color: white;
  transition:ease-in 0.3s;
}
.line {
  margin-top: 2rem;
  width: 100%;
  height: 2px;
  background-color: rgb(173, 173, 173);
}

footer {
  margin-top: 1rem;
  background-color: #17181c;
  display: flex;
  
}

.fhalf {
  width: 40%;
}

#fgifs {
  border-right-style: solid;
  border-right-color: rgb(63, 63, 63);
  border-right-width: 0.05rem;
}

#fgif {
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  align-items: center;
  
}
#half{
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
#info {
  display: flex;
  height: 100%;
  width: max-content;
  font-size:100%;
  margin-top: 15%;
  position: relative;
  /* background-color:white ; */
}


#backtotop{
    text-transform: uppercase;
    border-top-style: solid;
    border-top-color: rgb(63, 63, 63);
    border-top-width: 0.05rem;
    
    text-align: center;
    background-color: #121316;
    display: block;
    margin-top: 0;
    
    margin-bottom: 0.1rem;
    transition:linear 0.11s;
    
    
}

#backtotop:hover{
    background-color: rgb(0, 0, 0);
}

/* introduction */

#intro{
  background-color: black;
  height: 100px;
  width: 80%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  font-family: 'Poppins', sans-serif;
  writing-mode: vertical-lr;
}

#test{
  /* background-color: #121316; */
  background-color: whitesmoke;
  /* background-color: beige; */
  color: #121316;

  height:101%;
  min-height: 100%;
  float: left;
  
  width:1.5rem;
  writing-mode: vertical-lr;
  font-size: 130%;
  text-transform: uppercase;
}


::-webkit-scrollbar {
  width: 11px;
}
::-webkit-scrollbar-track {
  background: rgba(24, 24, 24, 0.815);
}
::-webkit-scrollbar-thumb {
  background: rgba(136, 136, 136, 0.774);
  
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(39, 39, 39, 0.753);
}
